:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: var(--border-radius, 12px);
  background-color: var(--color-surface-container-low);
  color: var(--color-on-surface);
  a {
    color: var(--color-primary-app);
  }
}

.information-desk-img-container {
  position: relative;
  .information-desk-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.information-desk-sub-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.information-desk-sub-container-short {
  max-height: 200px;
  overflow: hidden;
}

.information-desk-name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.information-desk-description {
  font-size: 14px;
  line-height: 20px;
}

.handle-information-desk-description {
  cursor: pointer;
  color: var(--color-primary-app);
  text-decoration: underline;
  margin-top: 12px;
}

.phone-container,
.mail-container,
.link-container {
  display: flex;
  align-items: center;
  .icon {
    display: flex;
    font-size: 16px;
    margin-right: 8px;
  }
}

.center-on-map-button {
  cursor: pointer;
  background-color: var(--color-primary-container);
  color: var(--color-on-primary-container);
  border-radius: var(--border-radius, 8px);
  padding: 4px 8px;
  box-shadow: var(--elevation-1);
  min-height: 32px;
  gap: 8px;
  box-sizing: border-box;
  text-align: start;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  font-size: 14px;
  margin: 12px auto;
  &:hover {
    box-shadow: var(--elevation-2);
  }
  .icon {
    display: flex;
  }
}
