.material-symbols {
  font-family: 'Material Symbols Outlined';
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 24px;
    position: absolute;
    left: 32px;
    z-index: 20;
    pointer-events: none;
  }
}

.search-input {
  background-color: var(--color-surface-container-high);
  box-shadow: var(--elevation-2);
  border: none;
  border-radius: 40px;
  color: var(--color-on-surface);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Roboto';
  height: 44px;
  padding: 0px 16px 0px 48px;
  outline-color: var(--color-outline);
}
