grw-app {
  display: block;
  position: relative;
  width: var(--app-width);
  height: var(--app-height);
  overflow: hidden;
  max-width: 100dvw;
  max-height: 100dvh;
}

.app-container {
  position: relative;
  background-color: var(--color-background);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.languages-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 16px 16px 0px 0px;
}

.header-container,
.large-view-header-container {
  height: var(--header-height);
  .arrow-back-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0px 16px;
    .arrow-back-icon {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      color: var(--color-on-surface);
      border: none;
      background-color: var(--color-background);
      border-radius: 50%;
      height: 48px;
      width: 48px;
      padding: 0px;
      text-align: left;
    }
  }
}

.handle-search-filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 16px;
  height: 64px;

  .handle-search-container {
    width: calc(50% + 48px);
    max-width: 220px;
  }
}

.header-detail {
  height: 64px;
}

.large-view-header-container {
  .handle-search-filters-container {
    justify-content: flex-start;
  }
}

.init-loader-container,
.loader-container,
.large-view-loader-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--color-background);
}

.content-container {
  position: relative;
  display: flex;
  height: calc(100% - var(--header-height));
}

.content-treks {
  height: calc(100% - var(--header-height));
}

.content-trek {
  height: 100%;
}

.app-treks-list-container,
.app-trek-detail-container,
.app-touristic-content-detail-container,
.app-touristic-event-detail-container,
.large-view-app-treks-list-container,
.large-view-app-trek-detail-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
}

.app-map-container,
.large-view-app-map-container {
  width: 100%;
  height: 100%;
}

.map-visibility-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 24px;
  z-index: 4;
}

.init-loader-container,
.loader-container {
  width: 100%;
}

.app-treks-list-container,
.app-trek-detail-container {
  width: 100%;
}

grw-treks-list,
grw-touristic-contents-list {
  max-height: calc(100vh - var(--header-height));
}

grw-trek-detail,
grw-touristic-content-detail,
grw-touristic-event-detail {
  max-height: calc(100vh - 64px);
}

.app-map-container {
  width: 100%;
  position: absolute;
}

.large-view-loader-container {
  width: 50%;
}

.large-view-app-treks-list-container,
.large-view-app-trek-detail-container,
.large-view-app-touristic-content-detail-container,
.large-view-app-touristic-event-detail-container {
  width: 50%;
}

.large-view-app-map-container {
  position: relative;
  width: 50%;
}
