.app-container {
  position: relative;
  height: 100%;
  max-height: 100vh;
  font-family: 'Roboto';
}

.header-container,
.large-view-header-container {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  height: 64px;
  .arrow-back-icon {
    width: 48px;
    height: auto;
    margin-left: 24px;
    svg {
      cursor: pointer;
      width: 48px;
      height: auto;
    }
  }
  .handle-filters-button {
    user-select: none;
    cursor: pointer;
    color: var(--color-primary);
    background-color: #ffffff;
    margin-left: 36px;
    border-radius: 8px;
    padding: 8px;
  }
  .attribution-container {
    position: absolute;
    right: 24px;
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.options-container {
  height: calc(100% - 64px);
  position: absolute;
  width: 100%;
  z-index: 1100;
  top: 64px;
}

.filters-container {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  padding: 36px 0px;
  z-index: 1100;
  .close-filters-button {
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 12px;
    border-radius: 12px;
    color: var(--color-primary);
    border: 1px var(--color-primary) solid;
    &:hover {
      background-color: var(--color-primary);
      color: #ffffff;
    }
  }
  .filter-margin-top {
    margin-top: 24px;
  }
  .current-treks-length {
    margin: 0px 0px 32px 8px;
    color: var(--color-primary);
    font-size: 24px;
    font-weight: bold;
  }
}

.back-filters-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100% - 64px);
  position: absolute;
  z-index: 1099;
  top: 64px;
}

.loader-container,
.large-view-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-primary-tint);
    border-bottom-color: var(--color-primary);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.content-container {
  position: relative;
  display: flex;
  height: calc(100% - 64px);
}

.app-treks-list-container,
.app-trek-detail-container,
.large-view-app-treks-list-container,
.large-view-app-trek-detail-container {
  height: 100%;
}

.app-map-container,
.large-view-app-map-container {
  width: 100%;
  height: 100%;
}

.map-visibility-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 24px;
  width: 100%;
  z-index: 400;
  user-select: none;
  div {
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 12px;
    border-radius: 24px;
    width: 120px;
    text-align: center;
  }
}

.header-container {
  .title {
    font-size: 24px;
  }
}

.loader-container {
  position: absolute;
  width: 100%;
}

.app-treks-list-container,
.app-trek-detail-container {
  width: 100%;
}

.app-map-container {
  position: relative;
  width: 100%;
  position: absolute;
}

.large-view-header-container {
  .title {
    font-size: 32px;
  }
}

.large-view-loader-container {
  position: relative;
  width: 50%;
}

.large-view-app-treks-list-container,
.large-view-app-trek-detail-container {
  width: 50%;
}

.large-view-app-map-container {
  position: relative;
  width: 50%;
}
