.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

grw-app {
  display: block;
  position: relative;
  width: var(--app-width);
  height: var(--app-height);
  font-family: 'Roboto';
  color: var(--color-on-surface);
  overflow: hidden;
  line-height: initial;
}

.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.header-container,
.large-view-header-container {
  background-color: var(--color-background);
  box-shadow: var(--elevation-2);
  .header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 64px;
  }
  .arrow-back-icon {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    color: var(--color-on-surface);
    border: none;
    background-color: var(--color-background);
    border-radius: 50%;
    height: 48px;
    width: 48px;
    padding: 12px;
    &:hover {
      box-shadow: var(--elevation-1);
    }
  }
  .header-left-container {
    margin-left: 8px;
  }
  .header-right-container {
    display: flex;
    align-items: center;
    margin-right: 8px;
    .margin-right-icon {
      margin-right: 8px;
    }
  }
  .attribution-container {
    a {
      font-size: 24px;
      font-weight: 400;
      line-height: 40px;
      color: var(--color-on-surface);
      text-decoration: none;
    }
  }
}

.options-container {
  height: calc(100% - 64px);
  position: absolute;
  width: 100%;
  z-index: 1100;
  top: 64px;
}

.handle-filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 16px;
  height: 64px;
  .handle-filters-button {
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--color-background);
    color: var(--color-on-surface);
    padding: 12px 24px;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    gap: 8px;
    white-space: nowrap;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: var(--elevation-1);
    transition: box-shadow 0.2s ease-in-out 0s;
    span {
      font-size: 18px;
      font-family: 'Material Symbols Outlined';
    }
  }
  .current-treks-within-bounds-length {
    margin-left: 12px;
    color: var(--color-on-surface);
  }
}

.filters-container {
  background-color: var(--color-background);
  position: absolute;
  width: 100%;
  padding: 16px 0px 32px 0px;
  z-index: 1100;
}

.back-filters-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100% - 64px);
  position: absolute;
  z-index: 1099;
  top: 64px;
}

.divider {
  margin: 16px;
  border-top: 1px solid var(--color-outline);
}

.init-loader-container,
.loader-container,
.large-view-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--color-background);
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-primary-container);
    border-bottom-color: var(--color-on-primary-container);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.content-container {
  position: relative;
  display: flex;
  height: calc(100% - 64px - 64px);
  background-color: var(--color-background);
}

.content-treks {
  height: calc(100% - 64px - 64px);
}

.content-trek {
  height: calc(100% - 64px);
}

.app-treks-list-container,
.app-trek-detail-container,
.large-view-app-treks-list-container,
.large-view-app-trek-detail-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-map-container,
.large-view-app-map-container {
  width: 100%;
  height: 100%;
}

.map-visibility-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 24px;
  z-index: 4;
  .map-visibility-button {
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    padding: 16px;
    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);
    box-shadow: var(--elevation-1);
    border-radius: 12px;
    height: 56px;
    font-size: 16px;
    width: unset;
    &:hover {
      box-shadow: var(--elevation-4);
    }
    span {
      font-family: 'Material Symbols Outlined';
      font-size: 24px;
      margin-right: 8px;
      color: var(--color-on-primary-container);
    }
  }
}

.init-loader-container,
.loader-container {
  width: 100%;
}

.app-treks-list-container,
.app-trek-detail-container {
  width: 100%;
}

grw-treks-list {
  max-height: calc(100vh - 64px - 64px);
}

grw-trek-detail {
  max-height: calc(100vh - 64px - 48px);
}

.app-map-container {
  width: 100%;
  position: absolute;
}

.large-view-loader-container {
  width: 50%;
}

.large-view-app-treks-list-container,
.large-view-app-trek-detail-container {
  width: 50%;
}

.large-view-app-map-container {
  position: relative;
  width: 50%;
}
