.header-container {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  height: 64px;
  .title {
    color: #ffffff;
    font-size: 24px;
    margin-left: 24px;
  }
  .arrow-back-icon {
    width: 48px;
    height: auto;
    margin-left: 24px;
    svg {
      cursor: pointer;
      width: 48px;
      height: auto;
    }
  }
}

.loader-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-primary-tint);
    border-bottom-color: var(--color-primary);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.content-container {
  display: flex;
  height: calc(100vh - 64px);
}

.app-treks-list-container,
.app-trek-detail-container {
  width: 100vw;
  height: 100%;
}

.app-map-container {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 64px);
}

.map-visibility-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 24px;
  width: 100%;
  z-index: 400;
  user-select: none;
  div {
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 12px;
    border-radius: 24px;
    width: 120px;
    text-align: center;
  }
}

@media (min-width: 664px) {
  .map-visibility-button {
    display: none;
  }

  .header-container {
    .title {
      font-size: 32px;
    }
  }

  .loader-container {
    position: relative;
    width: 50vw;
  }

  .app-treks-list-container,
  .app-trek-detail-container {
    width: 50vw;
    height: 100%;
  }

  .app-map-container {
    position: relative;
    width: 50vw;
    height: 100%;
  }
}
