.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

:host {
  font-family: 'Roboto';
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

grw-trek-card {
  margin: 0px 8px 8px 8px;
}

.list-bottom-space {
  min-height: 104px;
  height: 104px;
  width: 100%;
}

.current-treks-within-bounds-length {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;
  color: var(--color-on-surface);
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
}

.treks-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
