:host {
  font-family: 'Roboto';
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

.current-treks-length {
  width: 100%;
  text-align: center;
  padding: 32px 0px;
  color: var(--color-primary);
  font-size: 24px;
  font-weight: bold;
}

.current-treks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

grw-trek-card {
  margin: 6px;
}
