.material-symbols {
  font-family: 'Material Symbols Outlined';
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

:host {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

grw-touristic-content-card {
  width: 100% !important;
  display: flex;
  justify-content: center;
  margin: 0px 8px 8px 8px;
}

.list-bottom-space {
  min-height: 104px;
  height: 104px;
  width: 100%;
}

.current-touristic-contents-within-bounds-length {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;
  color: var(--color-on-surface-variant);
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  font-family: var(--font-family);
}

.touristic-contents-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
