.material-symbols {
  font-family: 'Material Symbols Outlined';
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.trek-card-container,
.trek-card-large-view-container {
  cursor: pointer;
  font-family: var(--font-family);
  border-radius: var(--border-radius, 12px);
  box-shadow: var(--elevation-1);
  background-color: var(--color-surface-container-low);
  .trek-img {
    object-fit: cover;
    border-top-left-radius: var(--border-radius, 12px);
    border-top-right-radius: var(--border-radius, 12px);
  }
  .default-trek-img {
    background-color: var(--color-primary-container);
    object-fit: contain;
  }
  .trek-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 16px;
    .trek-name {
      color: var(--color-primary-app);
      font-size: 22px;
      line-height: 28px;
      font-weight: 400;
      margin-bottom: 8px;
    }
    .trek-departure {
      color: var(--color-on-surface);
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      margin-bottom: 4px;
    }
    .trek-themes-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      .trek-theme {
        background-color: var(--color-secondary-container);
        color: var(--color-on-secondary-container);
        border-radius: var(--border-radius, 40px);
        padding: 8px 16px;
        margin: 0px 8px 8px 0px;
        box-shadow: var(--elevation-0);
        height: 32px;
        gap: 8px;
        box-sizing: border-box;
        text-align: start;
        vertical-align: middle;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        text-wrap: nowrap;
      }
    }
    .trek-icons-labels-container {
      padding: 0px 0px 8px 0px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 16px;
      .trek-icon-label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: calc((100% / 2) - 16px);
        .trek-icon {
          font-size: 24px;
          width: 24px;
          height: auto;
          color: var(--color-primary-app);
          margin-right: 8px;
        }
        .network {
          &:not(:last-child) {
            margin-right: 16px;
          }
        }
        .trek-label {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .practice {
        img {
          background-color: var(--color-primary-app);
        }
      }
    }
  }
}

.selected-trek-card {
  box-shadow: var(--elevation-2);
}

.trek-card-container {
  width: 100%;
  max-width: 350px;
  .trek-img-container {
    height: 200px;
    .trek-img {
      width: 100%;
      height: 100%;
    }
  }
}

.trek-card-large-view-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  .trek-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .trek-img {
      width: 250px;
      height: 200px;
    }
  }
}

.trek-step-card {
  width: auto;
}

.trek-card-container .trek-sub-container .trek-departure {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 56px;
}

.trek-card-container .trek-sub-container .trek-name {
  height: 56px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.is-current-step {
  background-color: var(--color-surface-variant);
}

.practice {
  .trek-icon {
    border-radius: 100%;
    padding: 2px;
    max-height: 20px;
    max-width: 20px;
  }
}
