.trek-card-container,
.trek-card-large-view-container {
  font-family: 'Roboto';
  border-radius: 8px;
  box-shadow: 4px 8px 24px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  .image {
    object-fit: cover;
  }
  .sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    .name {
      color: var(--color-primary);
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .departure {
      color: rgba(0, 0, 0, 0.7);
      font-size: 16px;
      margin: 4px 0px;
    }
    .themes-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      .theme {
        background-color: var(--color-primary-tint);
        color: #ffffff;
        border-radius: 8px;
        padding: 8px;
        margin: 0px 8px 8px 0px;
      }
    }
    .icons-labels-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 12px;
        }
        .icon-label {
          &:nth-child(2) {
            margin: 0px 4px;
          }
          display: flex;
          align-items: center;
          width: 50%;
          img,
          .svg-icon svg {
            width: 24px;
            height: auto;
            margin-right: 8px;
          }
        }
        .practice {
          img {
            background-color: var(--color-primary);
          }
        }
      }
    }
  }
}

.trek-card-container {
  width: 350px;
  height: auto;
  .image {
    width: 100%;
  }
}

.trek-card-large-view-container {
  height: auto;
  display: flex;
  flex-direction: row;
  .image {
    width: 250px;
  }
}
