.material-symbols {
  font-family: 'Material Symbols Outlined';
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.trek-card-container,
.trek-card-large-view-container {
  cursor: pointer;
  font-family: 'Roboto';
  border-radius: 12px;
  box-shadow: var(--elevation-1);
  background-color: var(--color-surface-container-low);
  .image {
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 16px;
    .name {
      color: var(--color-on-surface);
      font-size: 22px;
      line-height: 28px;
      font-weight: 400;
      margin-bottom: 8px;
    }
    .departure {
      color: var(--color-on-surface);
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      margin-bottom: 4px;
    }
    .themes-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      .theme {
        background-color: var(--color-secondary-container);
        color: var(--color-on-secondary-container);
        border-radius: 8px;
        padding: 8px 16px;
        margin: 0px 8px 8px 0px;
        box-shadow: var(--elevation-0);
        border: 1px solid var(--color-outline);
        height: 32px;
        gap: 8px;
        box-sizing: border-box;
        text-align: start;
        vertical-align: middle;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
      }
    }
    .icons-labels-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      color: var(--color-on-surface);
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 12px;
        }
        .icon-label {
          &:nth-child(2) {
            margin: 0px 4px;
          }
          display: flex;
          align-items: center;
          width: 50%;
          img,
          span {
            font-size: 24px;
            width: 24px;
            height: auto;
            margin-right: 8px;
          }
        }
        .practice {
          img {
            background-color: var(--color-primary-app);
          }
        }
      }
    }
  }
}

.selected-trek-card {
  box-shadow: var(--elevation-2);
}

.trek-card-container {
  width: 350px;
  .image {
    width: 100%;
    max-height: 200px;
  }
}

.trek-card-large-view-container {
  display: flex;
  flex-direction: row;
  .image {
    width: 250px;
  }
}
