@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

@font-face {
  font-family: 'swiper-icons';
  src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');
}

.swiper {
  z-index: 0;
}

:root {
  --color-primary: #6750a4;
  --color-on-primary: #ffffff;
  --color-surface: #1c1b1f;
  --color-on-surface: #49454e;
  --color-surface-variant: #fef7ff;
  --color-on-surface-variant: #1c1b1f;
  --color-primary-container: #eaddff;
  --color-on-primary-container: #21005e;
  --color-secondary-container: #e8def8;
  --color-on-secondary-container: #1d192b;
  --color-background: #fef7ff;
  --color-surface-container-high: #ece6f0;
  --color-surface-container-low: #f7f2fa;
  --fab-background-color: #eaddff;
  --fab-color: #21005d;

  --color-outline: #79747e;
  --color-shadow-rgb: 0 0 0;
  --elevation-0: 0px 0px 0px 0px rgb(var(--color-shadow-rgb) / 0.2), 0px 0px 0px 0px rgb(var(--color-shadow-rgb) / 0.14), 0px 0px 0px 0px rgb(var(--color-shadow-rgb) / 0.12);
  --elevation-1: 0px 3px 1px -2px rgb(var(--color-shadow-rgb) / 0.2), 0px 2px 2px 0px rgb(var(--color-shadow-rgb) / 0.14), 0px 1px 5px 0px rgb(var(--color-shadow-rgb) / 0.12);
  --elevation-2: 0px 2px 4px -1px rgb(var(--color-shadow-rgb) / 0.2), 0px 4px 5px 0px rgb(var(--color-shadow-rgb) / 0.14), 0px 1px 10px 0px rgb(var(--color-shadow-rgb) / 0.12);
  --elevation-3: 0px 5px 5px -3px rgb(var(---color-shadow-rgb) / 0.2), 0px 8px 10px 1px rgb(var(--color-shadow-rgb) / 0.14), 0px 3px 14px 2px rgb(var(--color-shadow-rgb) / 0.12);
  --elevation-4: 0px 5px 5px -3px rgb(var(--color-shadow-rgb) / 0.2), 0px 8px 10px 1px rgb(var(--color-shadow-rgb) / 0.14), 0px 3px 14px 2px rgb(var(--color-shadow-rgb) / 0.12);
  --elevation-5: 0px 8px 10px -6px rgb(var(--color-shadow-rgb) / 0.2), 0px 16px 24px 2px rgb(var(--color-shadow-rgb) / 0.14), 0px 6px 30px 5px rgb(var(--color-shadow-rgb) / 0.12);
}
