@import '~leaflet/dist/leaflet.css';

grw-map {
  display: block;
  width: 100%;
  height: 100%;
}

.departure-icon svg,
.arrival-icon svg {
  width: 48px;
  height: 48px;
  path {
    fill: currentColor;
    stroke: currentColor;
  }
}

.departure-icon {
  color: var(--departure-icon-color);
}

.arrival-icon {
  color: var(--arrival-icon-color);
}
