@use '~leaflet/dist/leaflet.css';
@use '../../utils/leaflet-simple-locate.css';
@use '~@raruto/leaflet-elevation/dist/leaflet-elevation.min.css';
@use '~leaflet.markercluster/dist/MarkerCluster.css';

#map {
  position: relative;
  font-family: var(--font-family);
  display: block;
}

.leaflet-control-layers-toggle,
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: var(--layers-image-src);
}

.treks-map {
  height: 100%;
}

.trek-map {
  height: calc(100%);
}

.trek-map-and-elevation {
  height: calc(100% - var(--elevation-height));
}

.common-map {
  height: 100%;
}

#elevation {
  position: relative;
  background-color: #ffffff;
}

.elevation-control .background {
  border-radius: 0px;
}

.custom-theme.elevation-control .axis text {
  fill: var(--color-on-surface);
}

.custom-theme.elevation-control .axis line,
.custom-theme.elevation-control .axis path {
  stroke: var(--color-on-surface);
}

.custom-theme.elevation-control .mouse-focus-label-rect {
  fill: var(--color-primary-container);
  stroke: var(--color-on-primary-container);
}

.custom-theme.elevation-control .mouse-focus-label-text {
  fill: var(--color-on-primary-container);
}

.custom-theme.elevation-control .background {
  background-color: var(--color-background);
}

.custom-theme.elevation-control .mouse-focus-line {
  stroke: var(--color-on-surface);
}

.use-theme-color.elevation-control .area path.altitude,
.use-theme-color .legend-altitude rect.area {
  fill: var(--color-primary-app);
  stroke: var(--color-trek-line);
}

.custom-theme.height-focus.circle-lower {
  fill: #ffffff;
  stroke: var(--color-on-surface);
}

.custom-theme.elevation-polyline {
  stroke: var(--color-trek-line);
}

.custom-theme.height-focus.line,
.custom-theme.height-focus-label {
  display: none;
}

.custom-theme .elevation-summary {
  margin: -12px 0px 0px 36px;
  font-size: 8px;
  font-family: var(--font-family);
  :nth-child(3)::after {
    display: none;
  }
  .avgele {
    display: none;
  }
}

.treks-marker-cluster-group-icon,
.touristic-content-marker-cluster-group-icon,
.touristic-event-marker-cluster-group-icon,
.outdoor-site-marker-cluster-group-icon {
  background-color: var(--color-clusters);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-on-primary);
  font-size: 16px;
  height: 100%;
  width: 100%;
}

.trek-marker,
.step-marker,
.touristic-content-marker,
.touristic-event-marker,
.outdoor-site-marker,
.selected-trek-marker,
.selected-step-marker,
.selected-touristic-content-marker,
.selected-touristic-event-marker,
.selected-outdoor-site-marker,
.departure-marker,
.arrival-marker {
  width: 100%;
  height: 100%;
  .trek-marker-container,
  .step-marker-container,
  .touristic-content-marker-container,
  .touristic-event-marker-container,
  .outdoor-site-marker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50% 50% 0;
    border: 2px solid #ffffff;
    width: 100%;
    height: 100%;
    transform: rotate(-44deg);
    img,
    .step-number {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(44deg);
      position: absolute;
      z-index: 20;
      width: var(--main-marker-icon-width) !important;
    }
  }

  .touristic-content-marker-container,
  .touristic-event-marker-container,
  .outdoor-site-marker-container {
    transform: rotate(-42deg);
  }

  .trek-marker-container,
  .touristic-content-marker-container,
  .touristic-event-marker-container,
  .outdoor-site-marker-container {
    background-color: var(--color-markers);
  }
  .step-marker-container {
    background-color: var(--color-markers);
  }
}

.departure-marker {
  background-color: #008000;
  border-radius: 14px;
  width: 100%;
  height: 100%;
  border: 4px #ffffff solid;
}

.arrival-marker {
  background-color: #ff0000;
  border-radius: 14px;
  width: 100%;
  height: 100%;
  border: 4px #ffffff solid;
}

.selected-trek-marker,
.selected-step-marker,
.selected-touristic-content-marker,
.selected-touristic-event-marker,
.selected-outdoor-site-marker {
  height: 100%;
  width: 100%;
  .trek-marker-container,
  .step-marker-container,
  .touristic-content-marker-container,
  .touristic-event-marker-container,
  .outdoor-site-marker-container {
    width: 100%;
    height: 100%;
    .trek-marker,
    .step-number {
      width: 100% !important;
    }
  }
}

.step-marker,
.selected-step-marker {
  color: var(--color-on-surface-variant);
}

.map-loader-container {
  position: absolute;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-primary-container);
    border-bottom-color: var(--color-on-primary-container);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.trek-departure-popup,
.touristic-content-coordinates-popup,
.touristic-event-coordinates-popup,
.outdoor-site-coordinates-popup {
  position: relative;
  display: flex;
  flex-direction: column;
  img {
    border-top-left-radius: var(--border-radius, 8px);
    border-top-right-radius: var(--border-radius, 8px);
  }
  .trek-name,
  .touristic-content-name,
  .touristic-event-name,
  .outdoor-site-name {
    color: var(--color-primary-app);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 12px;
  }
  .trek-button,
  .touristic-content-button,
  .touristic-event-button,
  .outdoor-site-button {
    margin: 0px 8px 16px 8px;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-on-primary-container);
    background-color: var(--color-background);
    color: var(--color-on-primary-container);
    padding: 12px 24px;
    border-radius: var(--border-radius, 8px);
    box-sizing: border-box;
    position: relative;
    gap: 8px;
    white-space: nowrap;
    line-height: 20px;
    letter-spacing: 0.1000000015px;
    font-size: 14px;
    font-weight: 500;
    transition: box-shadow 0.2s ease-in-out 0s;
    font-family: var(--font-family);
    &:hover {
      background-color: var(--color-primary-container);
    }
  }
}

.poi-tooltip,
.information-desks-tooltip,
.sensitive-area-tooltip,
.touristic-content-tooltip,
.touristic-event-tooltip,
.parking-tooltip,
.signage-tootltip {
  .poi-name,
  .information-desks-name,
  .sensitive-area-name,
  .touristic-content-name,
  .touristic-event-name,
  .parking-name,
  .signage-name {
    color: var(--color-primary-app);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.sensitiveAreasCheckboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 8px;
  border-radius: var(--border-radius, 8px);
  user-select: none;
  input,
  label {
    cursor: pointer;
  }
  input {
    margin: 0;
  }
  label {
    padding-left: 8px;
  }
}

.poi-marker,
.information-desks-marker,
.touristic-content-marker,
.touristic-event-marker,
.outdoor-site-marker,
.signage-marker {
  background-color: var(--color-markers);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  img {
    width: var(--common-marker-icon-width) !important;
    height: auto;
  }
}

.signage-marker {
  overflow: hidden;
  border-radius: 0%;
  img {
    width: 30% !important;
    margin-right: 8px;
  }
  .signage-name {
    color: white;
    white-space: nowrap;
    max-width: 50%;
  }
}

.parking-marker {
  width: 100%;
  height: 100%;
  img {
    width: 100% !important;
    height: auto;
  }
}

.point-reference-icon {
  color: var(--reference-point-color);
  background-color: var(--reference-point-background-color);
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 24px;
}

.leaflet-popup {
  bottom: 40px !important;
  left: -110px !important;
}

.leaflet-popup-content-wrapper {
  cursor: default;
  padding: 0px;
  background-color: var(--color-background);
  box-shadow: var(--elevation-2);
}

.leaflet-popup-content {
  width: 221px;
  margin: 0;
}

.leaflet-simple-locate svg {
  --primary-rgb: 00, 00, 00;
}

.leaflet-simple-locate-icon {
  --primary-rgb: 25, 135, 84;
}

.leaflet-simple-locate-orientation {
  --primary-rgb: 25, 135, 84 !important;
}

.leaflet-simple-locate.button-locate {
  --primary-rgb: 25, 135, 84;
  margin: 10px 0px 0px 10px !important;
  position: relative;
  transform: none;
  top: auto;
  left: auto;
  width: 34px;
  height: 34px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2) !important;
  box-shadow: none;
}

.leaflet-interactive {
  cursor: grab;
}

.cursor-pointer {
  cursor: pointer;
}

.grw-elevation-visibility-button-container {
  z-index: 4000;
  position: absolute;
  left: 10px;
  bottom: 36px;
}

.leaflet-simple-locate-icon {
  fill: #1e90ff;
}
