@use '~leaflet/dist/leaflet.css';
@use '~leaflet.locatecontrol/dist/L.Control.Locate.min.css';
@use '~@raruto/leaflet-elevation/dist/leaflet-elevation.min.css';

#map {
  position: relative;
  font-family: 'Roboto';
  display: block;
  height: 100%;
  z-index: 400;
}

.treks-map {
  max-height: 100%;
}

.trek-map {
  max-height: calc(100% - 250px);
}

#elevation {
  position: relative;
  background-color: #ffffff;
  z-index: 400;
}

.elevation-control .background {
  border-radius: 0px;
}

.elevation-polyline {
  stroke: var(--color-trek-line);
}

.height-focus.line,
.height-focus-label {
  display: none;
}

.departure-icon img,
.arrival-icon img {
  width: 48px;
  height: 48px;
  path {
    fill: currentColor;
    stroke: currentColor;
  }
}

.departure-icon {
  color: var(--color-departure-icon);
}

.arrival-icon {
  color: var(--color-arrival-icon);
}

.trek-marker {
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 36px !important;
  }
}

.map-loader-container {
  position: absolute;
  z-index: 500;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-primary-tint);
    border-bottom-color: var(--color-primary);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.leaflet-popup-content {
  width: 144px;
  margin: 0;
}

.trek-departure-popup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: auto;
  padding: 24px;
  img {
    border-radius: 8px;
  }
  .trek-name {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.1rem;
  }
  .trek-name-margin-top {
    margin-top: 12px;
  }
}

.poi-tooltip,
.information-desks-tooltip,
.sensitive-area-tooltip {
  .poi-name,
  .information-desks-name,
  .sensitive-area-name {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.1rem;
  }
}

.sensitiveAreasCheckboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  user-select: none;
  input,
  label {
    cursor: pointer;
  }
  input {
    margin: 0;
  }
  label {
    padding-left: 8px;
  }
}

.poi-icon,
.information-desks-icon {
  background-color: var(--color-poi-icon);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 36px !important;
  }
}

.parking-icon {
  background-color: #0000ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-size: 1.4rem;
  color: #ffffff;
}

.point-reference-icon {
  background-color: #ff0000;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 1.3rem;
  color: #ffffff;
}
