@import '~leaflet/dist/leaflet.css';

grw-map {
  display: block;
  height: 400px;
}

.departure-icon svg,
.arrival-icon svg {
  width: 48px;
  height: 48px;
  path {
    fill: currentColor;
    stroke: currentColor;
  }
}

.departure-icon {
  color: var(--color-departure-icon);
}

.arrival-icon {
  color: var(--color-arrival-icon);
}
