@import '~leaflet/dist/leaflet.css';

grw-map {
  display: block;
  height: 100%;
  max-height: 100vh;
}

.departure-icon svg,
.arrival-icon svg {
  width: 48px;
  height: 48px;
  path {
    fill: currentColor;
    stroke: currentColor;
  }
}

.departure-icon {
  color: var(--color-departure-icon);
}

.arrival-icon {
  color: var(--color-arrival-icon);
}

.trek-marker {
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 36px !important;
  }
}

.map-loader-container {
  position: absolute;
  z-index: 500;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-primary-tint);
    border-bottom-color: var(--color-primary);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.leaflet-popup-content {
  width: 144px;
  margin: 0;
}

.trek-departure-popup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: auto;
  padding: 24px;
  img {
    border-radius: 8px;
  }
  .trek-name {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 12px;
  }
  .trek-name-margin-top {
    margin-top: 12px;
  }
}
