@use '~leaflet/dist/leaflet.css';
@use '~leaflet.locatecontrol/dist/L.Control.Locate.min.css';
@use '~@raruto/leaflet-elevation/dist/leaflet-elevation.min.css';
@use '~leaflet.markercluster/dist/MarkerCluster.css';

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

#map {
  position: relative;
  font-family: 'Roboto';
  display: block;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: var(--layers-image-src);
}

.treks-map {
  height: calc(100%);
}

.trek-map {
  height: calc(100% - 250px - var(--map-bottom-space-height));
}

#elevation {
  position: relative;
  background-color: #ffffff;
}

.elevation-control .background {
  border-radius: 0px;
}

.custom-theme.elevation-control .axis text {
  fill: var(--color-on-surface);
}

.custom-theme.elevation-control .axis line,
.custom-theme.elevation-control .axis path {
  stroke: var(--color-on-surface);
}

.custom-theme.elevation-control .mouse-focus-label-rect {
  fill: var(--color-primary-container);
  stroke: var(--color-on-primary-container);
}

.custom-theme.elevation-control .mouse-focus-label-text {
  fill: var(--color-on-primary-container);
}

.custom-theme.elevation-control .background {
  background-color: var(--color-background);
}

.custom-theme.elevation-control .mouse-focus-line {
  stroke: var(--color-on-surface);
}

.use-theme-color.elevation-control .area path.altitude,
.use-theme-color .legend-altitude rect.area {
  fill: var(--color-primary-app);
  stroke: var(--color-trek-line);
}

.custom-theme.height-focus.circle-lower {
  fill: #ffffff;
  stroke: var(--color-on-surface);
}

.custom-theme.elevation-polyline {
  stroke: var(--color-trek-line);
}

.custom-theme.height-focus.line,
.custom-theme.height-focus-label {
  display: none;
}

.treks-marker-cluster-group-icon {
  background-color: var(--color-primary-app);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-on-primary);
  font-size: 16px;
}

.trek-marker {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50% 50% 0;
    border: 2px solid #ffffff;
    width: 32px;
    height: 32px;
    transform: rotate(-45deg);
    background-color: var(--color-surface);
    img {
      transform: rotate(45deg);
      position: absolute;
      z-index: 20;
      width: 24px !important;
    }
  }
}

.map-loader-container {
  position: absolute;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-primary-container);
    border-bottom-color: var(--color-on-primary-container);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.leaflet-popup-content {
  width: 144px;
  margin: 0;
}

.trek-departure-popup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: auto;
  padding: 24px;
  img {
    border-radius: 8px;
  }
  .trek-name {
    color: var(--color-primary-app);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .trek-name-margin-top {
    margin-top: 12px;
  }
}

.poi-tooltip,
.information-desks-tooltip,
.sensitive-area-tooltip {
  .poi-name,
  .information-desks-name,
  .sensitive-area-name {
    color: var(--color-primary-app);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.sensitiveAreasCheckboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  user-select: none;
  input,
  label {
    cursor: pointer;
  }
  input {
    margin: 0;
  }
  label {
    padding-left: 8px;
  }
}

.poi-icon,
.information-desks-icon {
  background-color: var(--color-poi-icon);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 36px !important;
  }
}

.parking-icon {
  background-color: #0000ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-size: 48px;
  color: #ffffff;
}

.point-reference-icon {
  background-color: #ff0000;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: #ffffff;
}

.map-bottom-space {
  min-height: var(--map-bottom-space-height);
  height: var(--map-bottom-space-height);
  width: 100%;
  background-color: var(--color-background);
}
