@import '~leaflet/dist/leaflet.css';

grw-map {
  display: block;
  height: 100%;
}

.departure-icon svg,
.arrival-icon svg {
  width: 48px;
  height: 48px;
  path {
    fill: currentColor;
    stroke: currentColor;
  }
}

.departure-icon {
  color: var(--color-departure-icon);
}

.arrival-icon {
  color: var(--color-arrival-icon);
}

.trek-marker {
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 36px !important;
  }
}
