:host {
  display: flex;
  flex-direction: column;
  a {
    color: var(--color-primary);
  }
}

.sensitive-area-title {
  color: var(--color-primary);
  font-size: 1.4rem;
  padding: 12px 0px;
  font-weight: bold;
}

.sensitive-area-description {
  font-size: 1.2rem;
}

.sensitive-area-period-container,
.sensitive-area-practice-container,
.sensitive-area-contact-container {
  .sensitive-area-period-title,
  .sensitive-area-practice-title,
  .sensitive-area-contact-title {
    color: var(--color-primary);
    font-size: 1.4rem;
    padding: 12px 0px;
  }
  .sensitive-area-period-values,
  .sensitive-area-practice-values {
    display: flex;
    flex-wrap: wrap;
  }
}
