:host {
  display: flex;
  flex-direction: column;
  a {
    color: var(--color-primary);
  }
}

.sensitive-area-name {
  color: var(--color-primary);
  font-size: 24px;
  font-weight: bold;
  padding: 12px 0px;
}

.sensitive-area-description {
  font-size: 16px;
}
