:host {
  display: flex;
  flex-direction: column;
  padding: 0px 8px 8px 8px;
}

.sensitive-area-name {
  color: var(--color-primary);
  font-size: 24px;
  font-weight: bold;
  padding: 0px 0px 8px 0px;
}

.sensitive-area-description {
  font-size: 16px;
}
