@import '~choices.js/public/assets/styles/base.min.css';
@import '~choices.js/public/assets/styles/choices.min.css';

.material-symbols {
  font-family: 'Material Symbols Outlined';
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.filter-name {
  margin-left: 8px;
  color: var(--color-on-surface);
  line-height: 32px;
  letter-spacing: 0px;
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-family);
}
.filter-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 16px;
  .choices__list--multiple:not(:empty) + .choices__input::placeholder {
    opacity: 0;
  }
  .choices {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    margin: 8px 0px 0px 8px;
    padding: 8px 0px;
    font-family: var(--font-family);
    .choices__inner {
      border: 1px solid var(--color-outline);
      border-radius: var(--border-radius, 8px);
      box-shadow: var(--elevation-1);
      -webkit-tap-highlight-color: transparent;
      line-height: 20px;
    }
    .choices__inner,
    .choices__input,
    .choices__list--dropdown .choices__item--selectable.is-highlighted,
    .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
      background-color: transparent;
    }
    .choices__list--multiple .choices__item {
      color: var(--color-on-secondary-container);
      background-color: var(--color-secondary-container);
      font-size: 14px;
      margin-right: 8px;
      border: 1px solid var(--color-outline);
      border-radius: var(--border-radius, 8px);
      box-shadow: var(--elevation-1);
      -webkit-tap-highlight-color: transparent;
      line-height: 20px;
    }
    .choices__button {
      --choices-button-url: url('data:image/svg+xml,\<svg width="21" height="21" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg"><g fill="' + var(--color-on-secondary-container) + '" fill-rule="evenodd"><path d="M2.592.044l18.364 18.364-2.548 2.548L.044 2.592z"/><path d="M0 18.364L18.364 0l2.548 2.548L2.548 20.912z"/></g></svg>')
      background-image: var(--choices-button-url);
      color: var(--color-on-secondary-container);
      border-left: 1px solid var(--color-outline);
    }
    .choices__list--dropdown,
    .choices__list[aria-expanded] {
      width: 100%;
      color: var(--color-secondary-container);
      background-color: var(--color-on-secondary-container);
      border: 1px solid var(--color-outline);
    }
    .choices__input {
      width: 100%;
      font-family: var(--font-family);
    }
  }
  .filter-button,
  .selected-filter-button {
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    font-weight: 500;
    margin: 8px 0px 0px 8px;
    padding: 8px 16px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--elevation-1);
    border: 1px solid var(--color-outline);
    border-radius: var(--border-radius, 8px);
    -webkit-tap-highlight-color: transparent;
    line-height: 20px;
    transition: box-shadow 0.2s ease-in-out 0s;
    min-width: 100px;
    white-space: nowrap;
    &:hover {
      box-shadow: var(--elevation-2);
    }
    font-family: var(--font-family);
  }
  .filter-button {
    color: var(--color-on-surface-variant);
    background-color: transparent;
  }
  .selected-filter-button {
    color: var(--color-on-secondary-container);
    background-color: var(--color-secondary-container);
    span {
      font-size: 24px;
      margin-right: 8px;
      color: var(--color-on-secondary-container);
    }
  }
}

.select-container {
  display: inline-flex;
  width: 100%;
  z-index: 4000;
}
.select-container .choicesjs-stencil {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 22;
  z-index: 4000;
  .choices__inner {
    padding: 0px;
  }
  .choices__input {
    padding: 0px;
    margin: 0px;
    width: 100% !important;
    min-height: 44px;
  }
}
