@use '~swiper/swiper.scss';
@use '~swiper/modules/navigation/navigation.scss';
@use '~swiper/modules/pagination/pagination.scss';

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 12px;
  background-color: var(--color-surface-container-low);
  color: var(--color-on-surface);
  --swiper-navigation-size: 32px;
  --swiper-navigation-color: var(--color-primary-app);
  --swiper-pagination-bullet-size: 12px;
  a {
    color: var(--color-primary-app);
  }
}

.poi-type-img-container {
  position: relative;
  .poi-img,
  .default-poi-img {
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  .poi-img {
    cursor: pointer;
    object-fit: cover;
  }
  .default-poi-img {
    background-color: var(--color-primary-container);
    object-fit: contain;
  }
  .img-fullscreen {
    max-height: none;
    object-fit: contain;
  }
  .poi-type {
    width: 24px;
    height: 24px;
    padding: 4px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-color: var(--color-on-surface);
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 200;
  }
}

.poi-sub-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.poi-name {
  font-size: 16px;
  line-height: 24px;
}

.poi-description {
  font-size: 14px;
  line-height: 20px;
}

.poi-description-short {
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.handle-poi-description {
  cursor: pointer;
  color: var(--color-primary-app);
  text-decoration: underline;
  margin-top: 12px;
}
