@use '~swiper/swiper.scss';
@use '~swiper/modules/navigation/navigation.scss';
@use '~swiper/modules/pagination/pagination.scss';

:host {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 20px;
  --swiper-navigation-size: 32px;
  --swiper-navigation-color: var(--color-primary);
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-color: var(--color-primary);
  a {
    color: var(--color-primary);
  }
}

.poi-type-img-container {
  position: relative;
  .poi-img,
  .poi-img-default {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .poi-img {
    cursor: pointer;
  }
  .poi-type {
    width: 24px;
    height: 24px;
    padding: 4px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-color: var(--color-primary);
    position: absolute;
    top: 8px;
    left: 8px;
  }
}

.poi-sub-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.poi-name {
  color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: bold;
}

.poi-description {
  font-size: 1.1rem;
}

.poi-description-short {
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.handle-poi-description {
  cursor: pointer;
  color: var(--color-primary);
  text-decoration: underline;
  margin-top: 12px;
}
