:root {
  --vp-c-brand-1: #68750b;
  --vp-c-brand-2: #b2c24f;
  --vp-button-brand-bg: #68750b;
}

.dark {
  --vp-c-brand-1: #68750b;
  --vp-c-brand-2: #b2c24f;
  --vp-button-brand-bg: #68750b;
}

#advanced-customization-result-container {
  grw-treks-list::part(trek-card) {
    background-color: #FFFFFF;
  }
  grw-trek-detail::part(trek-name) {
    color: #000000;
  }
}

@media print {
  grw-app,
  grw-treks-list,
  grw-trek-detail,
  grw-map,
  grw-treks-provider,
  grw-touristic-contents-list,
  grw-touristic-events-list,
  grw-outdoor-sites-list,
  grw-outdoor-course-detail,
  grw-outdoor-site-detail {
    display: none !important;
  }
}
