@use '~swiper/swiper.scss';
@use '~swiper/modules/navigation/navigation.scss';
@use '~swiper/modules/pagination/pagination.scss';

.swiper {
  z-index: 0;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

:host {
  a {
    color: var(--color-primary-app);
  }
  --swiper-navigation-size: 24px;
  --swiper-navigation-color: var(--color-on-primary-container);
  --swiper-pagination-color: var(--color-primary-container);
  --swiper-pagination-bullet-size: 12px;
  .swiper {
    height: 200px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    background-color: var(--color-primary-container);
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: var(--border-radius, 32px);
    box-shadow: var(--elevation-1);
    &:hover {
      box-shadow: var(--elevation-2);
    }
  }
}

.touristic-content-img-container {
  position: relative;
  height: 200px;
  .touristic-content-img,
  .default-touristic-content-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .touristic-content-img {
    cursor: pointer;
    object-fit: cover;
  }
  .default-touristic-content-img {
    background-color: var(--color-primary-container);
    object-fit: contain;
  }
  .img-fullscreen {
    max-height: none;
    object-fit: contain;
  }
  .touristic-content-type {
    width: 24px;
    height: 24px;
    padding: 4px;
    border: 2px solid #ffffff;
    border-radius: var(--border-radius, 50%);
    background-color: var(--color-on-surface);
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 200;
  }
}

.touristic-content-sub-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  .touristic-content-category-container {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    .touristic-content-category-name {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    img {
      font-size: 24px;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      background-color: var(--color-primary-app);
    }
  }
  .touristic-content-name {
    font-size: 16px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 48px;
  }
}

.touristic-content-more-detail-container {
  padding: 0px 12px 12px 12px;
  .more-details-button {
    cursor: pointer;
    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);
    border-radius: var(--border-radius, 8px);
    padding: 8px 16px;
    box-shadow: var(--elevation-1);
    width: 100%;
    height: 32px;
    gap: 8px;
    box-sizing: border-box;
    text-align: start;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: var(--font-family);
    &:hover {
      box-shadow: var(--elevation-2);
    }
    span {
      font-size: 18px;
    }
  }
}

.touristic-content-card-container,
.touristic-content-card-large-view-container {
  font-family: var(--font-family);
  border-radius: var(--border-radius, 12px);
  box-shadow: var(--elevation-1);
  background-color: var(--color-surface-container-low);
  color: var(--color-on-surface);
  .image {
    height: 100%;
    object-fit: cover;
    border-top-left-radius: var(--border-radius, 12px);
    border-top-right-radius: var(--border-radius, 12px);
  }
}

.touristic-content-card-container {
  width: 100%;
  max-width: 350px;
  .image {
    width: 100%;
    height: 100%;
  }
}

.touristic-content-card-large-view-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  .image {
    width: 250px;
    height: 100%;
  }
}

.is-inside-vertical-list {
  cursor: pointer;
  border: none;
  .touristic-event-img,
  .default-touristic-event-img {
    height: 100%;
  }
}

.selected-touristic-content-card {
  box-shadow: var(--elevation-2);
}
