:host {
  display: flex;
  flex-direction: column;
  a {
    color: var(--color-primary);
  }
}

.information-desk-img {
  width: 180px;
  img {
    width: 180px;
    border-radius: 8px;
  }
}

.information-desk-sub-container {
  display: flex;
  flex-direction: column;
}

.information-desk-name {
  color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: bold;
  padding: 12px 0px;
}

.information-desk-description {
  font-size: 1.2rem;
}
