@use '~swiper/swiper.scss';
@use '~swiper/modules/navigation/navigation.scss';
@use '~swiper/modules/pagination/pagination.scss';

:host {
  --swiper-navigation-size: 32px;
  --swiper-navigation-color: var(--color-primary);
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-color: var(--color-primary);
}

grw-sensitive-area-detail,
grw-information-desk-detail,
grw-poi-detail {
  margin-top: 12px;
}

.trek-detail-container {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  .name {
    color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: bold;
    padding: 24px;
  }
  .image {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sub-container {
    padding: 24px;
    .icons-labels-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 24px;
        }
        .icon-label {
          &:nth-child(2) {
            margin: 0px 8px;
          }
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(100% / 3);
          img {
            width: 24px;
            height: auto;
            margin-right: 24px;
          }
        }
        .practice {
          img {
            background-color: var(--color-primary);
          }
        }
      }
    }
  }
  .downloads-container {
    padding: 0px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .download-title {
      color: var(--color-primary);
      font-size: 1.3rem;
      margin-bottom: 12px;
    }
    .links-container {
      display: flex;
      a {
        background-color: var(--color-primary);
        padding: 8px;
        color: #ffffff;
        text-decoration: none;
        border-radius: 8px;
        &:nth-child(2) {
          margin: 0px 12px;
        }
        &:hover {
          background-color: var(--color-primary-shade);
        }
      }
    }
  }
  .themes-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 24px 24px 24px;
    .theme {
      background-color: var(--color-primary-tint);
      color: #ffffff;
      border-radius: 8px;
      padding: 8px;
      margin: 0px 8px 8px 0px;
    }
  }
  .ambiance,
  .description-teaser,
  .description-container,
  .altimetric-profile-container,
  .access-container,
  .public-transport-container,
  .advice-container,
  .advised-parking-container,
  .gear-container,
  .pois-container,
  .sensitive-areas-container,
  .information-desks-container,
  .source-container,
  .accessibilities-container {
    padding: 0px 24px 24px 24px;
    a {
      color: var(--color-primary);
    }
  }
  .description-title,
  .altimetric-profile-title,
  .access-title,
  .public-transport-title,
  .advice-title,
  .advised-parking-title,
  .gear-title,
  .pois-title,
  .sensitive-areas-title,
  .information-desks-title,
  .source-title,
  .accessibilities-title {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 12px 0px;
  }
}

.description-container {
  .description {
    ol {
      position: relative;
      counter-reset: referencePoint;
      &:before {
        content: '';
        position: absolute;
        width: 4px;
        top: 0px;
        bottom: 0px;
        left: 14px;
        background-color: #e59900;
      }
      li {
        position: relative;
        list-style-type: none;
        counter-increment: referencePoint;
        p {
          margin: 0;
        }
        &:not(:first-child) {
          margin-top: 12px;
        }
      }
      li:before {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        content: counter(referencePoint);
        width: 24px;
        height: 24px;
        background: #f04141;
        border-radius: 12px;
        font-weight: bold;
        font-size: 0.8em;
        color: white;
        margin-left: -36px;
        top: calc(50% - 12px);
      }
    }
  }
}
.current-advice-container {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 2px solid #534764;
  border-radius: 1rem;
  img {
    width: 26px;
    margin-right: 16px;
  }
}

.label-container {
  margin-top: 12px;
  padding: 12px;
  border: 2px solid #d77e00;
  border-radius: 1rem;
  .label-sub-container {
    display: flex;
    align-items: center;
    img {
      width: 26px;
      margin-right: 16px;
    }
    .label-name {
      color: var(--color-primary);
      font-size: 1.4rem;
      font-weight: bold;
      padding: 12px 0px;
    }
  }
}
.source-container {
  .source-sub-container {
    display: flex;
    align-items: center;
    img {
      width: 26px;
      margin-right: 16px;
    }
    .source-name {
      color: var(--color-primary);
      font-size: 1.4rem;
      font-weight: bold;
      padding: 12px 0px;
    }
  }
}
.departure-container,
.arrival-container,
.cities-container {
  display: flex;
  align-items: center;
  padding: 0px 24px 24px 24px;
  .departure-title,
  .arrival-title,
  .cities-title {
    color: var(--color-primary);
    font-weight: bold;
  }
}
.accessibilities-container {
  .accessibilities-content-container {
    padding: 12px 0px 0px 0px;
    display: flex;
    .accessibility-content-container {
      display: flex;
      align-items: center;
      margin: 0px 8px 8px 0px;
      img {
        margin-right: 16px;
        width: 26px;
      }
    }
  }
  .accessibility-level-title,
  .accessibility-slope-title,
  .accessibility-width-title,
  .accessibility-signage-title,
  .accessibility-covering-title,
  .accessibility-exposure-title,
  .accessibility-advice-title {
    color: var(--color-primary);
    font-size: 1.4rem;
    padding: 12px 0px;
  }
}

.swiper-pois,
.swiper-information-desks {
  overflow: visible;
}
