@use '~swiper/swiper.scss';
@use '~swiper/modules/navigation/navigation.scss';
@use '~swiper/modules/pagination/pagination.scss';

.swiper {
  z-index: 0;
}

.material-symbols {
  font-family: 'Material Symbols Outlined';
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

:host {
  --swiper-navigation-size: 24px;
  --swiper-navigation-color: var(--color-on-primary-container);
  --swiper-pagination-color: var(--color-primary-container);
  --swiper-pagination-bullet-size: 12px;
  .swiper-button-prev,
  .swiper-button-next {
    background-color: var(--color-primary-container);
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    box-shadow: var(--elevation-1);
    &:hover {
      box-shadow: var(--elevation-2);
    }
  }
}

grw-trek-detail {
  overflow: hidden;
}

.trek-options {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 32px;
  padding: 8px 0px;
  background-color: var(--color-background);
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .trek-option {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    color: var(--color-on-surface);
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
    &:hover {
      color: var(--color-primary-app);
    }
    @media (hover: none) {
      &:not(.selected-trek-option):hover {
        color: inherit;
      }
    }
  }
  .trek-option:last-of-type {
    margin-right: 16px;
  }
  .selected-trek-option {
    color: var(--color-primary-app);
  }
  .indicator-selected-trek-option {
    position: absolute;
    bottom: 8px;
    height: 2px;
    background-image: linear-gradient(var(--color-primary-app), var(--color-primary-app));
    background-repeat: no-repeat;
    transition: transform 0.5s ease, background-size 0.5s ease 0.5s;
    margin-left: 16px;
    background-position: center;
  }
  .presentation.selected-trek-option ~ .indicator-selected-trek-option {
    width: 240px;
    background-size: 120px 100%;
  }
  .description.selected-trek-option ~ .indicator-selected-trek-option {
    width: 240px;
    background-size: 120px 100%;
  }
  .recommendations.selected-trek-option ~ .indicator-selected-trek-option {
    width: 380px;
    background-size: 190px 100%;
  }
  .sensitive-areas.selected-trek-option ~ .indicator-selected-trek-option {
    width: 320px;
    background-size: 160px 100%;
  }
  .information-places.selected-trek-option ~ .indicator-selected-trek-option {
    width: 400px;
    background-size: 200px 100%;
  }
  .pois.selected-trek-option ~ .indicator-selected-trek-option {
    width: 240px;
    background-size: 120px 100%;
  }
  .presentation {
    min-width: 120px;
    width: 120px;
  }
  .description {
    min-width: 120px;
    width: 120px;
  }
  .recommendations {
    min-width: 190px;
    width: 190px;
  }
  .sensitive-areas {
    min-width: 160px;
    width: 160px;
  }
  .information-places {
    min-width: 200px;
    width: 200px;
  }
  .pois {
    min-width: 120px;
    width: 120px;
  }
}
.trek-detail-container {
  font-family: 'Roboto';
  color: var(--color-on-surface);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  .name {
    color: var(--color-on-surface);
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    padding: 0px 24px;
    margin: 8px 0px;
  }
  .image {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sub-container {
    padding: 24px 24px 0px 24px;
    .icons-labels-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 24px;
        }
        .icon-label {
          &:nth-child(2) {
            margin: 0px 8px;
          }
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: calc(100% / 3);
          img,
          span {
            font-size: 24px;
            width: 24px;
            height: auto;
            margin-right: 8px;
          }
        }
        .practice {
          img {
            background-color: var(--color-primary-app);
          }
        }
      }
    }
  }
  .downloads-container {
    padding: 0px 24px 0px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .download-title {
      color: var(--color-on-surface);
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }
    .links-container {
      display: flex;
      flex-wrap: wrap;
      a {
        margin-top: 8px;
        background-color: var(--color-primary-container);
        color: var(--color-on-primary-container);
        border-radius: 8px;
        padding: 8px 16px;
        box-shadow: var(--elevation-1);
        height: 32px;
        gap: 8px;
        box-sizing: border-box;
        text-align: start;
        vertical-align: middle;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        text-decoration: none;
        &:nth-child(2) {
          margin: 8px 12px 0px 12px;
        }
        &:hover {
          box-shadow: var(--elevation-2);
        }
      }
    }
  }
  .themes-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 24px 0px 24px;

    .theme {
      background-color: var(--color-secondary-container);
      color: var(--color-on-secondary-container);
      border-radius: 8px;
      padding: 8px 16px;
      margin: 0px 8px 8px 0px;
      box-shadow: var(--elevation-0);
      border: 1px solid var(--color-outline);
      height: 32px;
      gap: 8px;
      box-sizing: border-box;
      text-align: start;
      vertical-align: middle;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  }
  .ambiance,
  .description-teaser,
  .description-container,
  .altimetric-profile-container,
  .access-container,
  .public-transport-container,
  .advice-container,
  .advised-parking-container,
  .gear-container,
  .sensitive-areas-container,
  .source-container,
  .accessibilities-container,
  .parent-trek-container,
  .weather-container {
    padding: 0px 24px 0px 24px;
  }
  .ambiance,
  .description-teaser,
  .description-container,
  .altimetric-profile-container,
  .access-container,
  .public-transport-container,
  .advice-container,
  .advised-parking-container,
  .gear-container,
  .sensitive-areas-container,
  .information-desks-container,
  .pois-container,
  .source-container,
  .accessibilities-container,
  .weather-container,
  .parent-trek-container,
  .step-container {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    a {
      color: var(--color-primary-app);
    }
  }
  .description-title,
  .altimetric-profile-title,
  .access-title,
  .public-transport-title,
  .advice-title,
  .advised-parking-title,
  .gear-title,
  .sensitive-areas-title,
  .information-desks-title,
  .pois-title,
  .source-title,
  .accessibilities-title,
  .step-title,
  .parent-trek-title {
    color: var(--color-on-surface);
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .information-desks-title,
  .pois-title,
  .step-title {
    padding: 0px 24px 0px 24px;
  }

  .parent-trek-title {
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: var(--elevation-0);
    border: none;
    -webkit-tap-highlight-color: transparent;
    line-height: 20px;
    color: var(--color-primary);
    background-color: transparent;
    div {
      margin-right: 4px;
    }
  }
}

.description-container {
  .description {
    ol {
      position: relative;
      counter-reset: referencePoint;
      &:before {
        content: '';
        position: absolute;
        width: 4px;
        top: 0px;
        bottom: 0px;
        left: 14px;
        background-color: var(--color-primary-app);
      }
      li {
        position: relative;
        list-style-type: none;
        counter-increment: referencePoint;
        p {
          margin: 0;
        }
        &:not(:first-child) {
          margin-top: 12px;
        }
      }
      li:before {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        content: counter(referencePoint);
        width: 24px;
        height: 24px;
        background: #f04141;
        border-radius: 12px;
        font-weight: bold;
        font-size: 0.8em;
        color: white;
        margin-left: -36px;
        top: calc(50% - 12px);
      }
    }
  }
}
.current-advice-container {
  display: flex;
  padding: 12px;
  border: 2px solid var(--color-outline);
  border-radius: 12px;
  span {
    font-size: 24px;
    width: 26px;
    margin-right: 8px;
  }
}

.label-container {
  margin-top: 12px;
  padding: 12px;
  border: 2px solid var(--color-outline);
  border-radius: 12px;
  .label-sub-container {
    display: flex;
    align-items: center;
    img {
      width: 26px;
      margin-right: 16px;
    }
    .label-name {
      color: var(--color-on-surface);
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      padding: 12px 0px;
    }
  }
  .label-advice {
    color: var(--color-on-surface);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
}
.source-container {
  .source-sub-container {
    display: flex;
    align-items: center;
    img {
      width: 26px;
      margin-right: 16px;
    }
    .source-name {
      color: var(--color-on-surface);
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      padding: 12px 0px;
    }
  }
}
.departure-container,
.arrival-container,
.cities-container {
  display: flex;
  align-items: center;
  padding: 0px 24px 24px 24px;
  .departure-title,
  .arrival-title,
  .cities-title {
    color: var(--color-on-surface);
    font-weight: bold;
    white-space: nowrap;
    margin-right: 8px;
  }
}
.accessibilities-container {
  .accessibilities-content-container {
    padding: 12px 0px 0px 0px;
    display: flex;
    .accessibility-content-container {
      display: flex;
      align-items: center;
      margin: 0px 8px 8px 0px;
      img {
        margin-right: 16px;
        width: 26px;
      }
    }
  }
  .accessibility-level-title,
  .accessibility-slope-title,
  .accessibility-width-title,
  .accessibility-signage-title,
  .accessibility-covering-title,
  .accessibility-exposure-title,
  .accessibility-advice-title {
    color: var(--color-on-surface);
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    padding: 12px 0px;
  }
}

.weather-container {
  #weather-widget {
    width: 100%;
  }
}

.swiper-information-desks,
.swiper-pois,
.swiper-step {
  padding-right: 32px;
  padding-left: 32px;
}

.swiper-step {
  padding-bottom: 4px;
}

.divider {
  margin: 16px;
  border-top: 1px solid var(--color-outline);
}

.detail-bottom-space {
  min-height: var(--detail-bottom-space-height);
  height: var(--detail-bottom-space-height);
  width: 100%;
  background-color: var(--color-background);
}

.images-container {
  display: flex;
  max-width: 100%;
  max-height: 400px;
}
