.trek-detail-container {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  .name {
    color: var(--color-primary);
    font-size: 48px;
    font-weight: bold;
    padding: 24px;
  }
  .image {
    border-radius: 8px;
    align-self: center;
    width: 100%;
    max-width: 700px;
    height: auto;
    box-shadow: 4px 8px 24px rgba(0, 0, 0, 0.25);
  }
  .sub-container {
    padding: 24px;
    .icons-labels-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 24px;
        }
        .icon-label {
          &:nth-child(2) {
            margin: 0px 8px;
          }
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(100% / 3);
          img,
          .svg-icon svg {
            width: 24px;
            height: auto;
            margin-right: 24px;
          }
        }
        .practice {
          img {
            background-color: var(--color-primary);
          }
        }
      }
    }
  }
  .downloads-container {
    padding: 0px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .download-title {
      color: var(--color-primary);
      font-size: 18px;
      margin-bottom: 18px;
    }
    .links-container {
      a {
        background-color: var(--color-primary);
        padding: 8px;
        color: #ffffff;
        text-decoration: none;
        border-radius: 8px;
        &:nth-child(2) {
          margin: 0px 12px;
        }
        &:hover {
          background-color: var(--color-primary-shade);
        }
      }
    }
  }
  .description {
    padding: 0px 24px 24px 24px;
  }
}
