.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 40000;
  font-family: var(--font-family);
  background-color: rgba(0, 0, 0, 0.6);
  .grw-details-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
  }
  .grw-content-modal {
    overflow-y: hidden;
    padding-bottom: 24px;
  }
  .grw-arrow-back-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--color-primary-container);
    .grw-arrow-back-icon {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      color: var(--color-on-surface);
      border: none;
      border-radius: var(--border-radius, 50%);
      height: 48px;
      width: 48px;
      background-color: transparent;
      margin-left: 4px;
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        height: 24px;
        width: 24px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .modal-container {
    .grw-details-modal {
      width: 60%;
      height: 80%;
      border-radius: var(--border-radius, 8px);
    }
  }
}
