.fab-visibility-button {
  display: flex;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  padding: 4px;
  background-color: var(--fab-background-color);
  color: var(--fab-color);
  box-shadow: var(--elevation-1);
  border-radius: var(--border-radius, 18px);
  width: 36px;
  height: 36px;
  font-family: var(--font-family);
  font-size: 16px;
  pointer-events: all;
  filter: hue-rotate(90deg);
  &:hover {
    box-shadow: var(--elevation-4);
  }
  .icon {
    display: flex;
    color: var(--fab-color);
  }
}
