name: CI

on:
  push:
    branches:
      - main

  pull_request:
  workflow_call:

jobs:
  get_node_modules:
    uses: ./.github/workflows/update_cache.yml
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3
      - name: Debug github action ref
        run: |
          echo "Tag name from GITHUB_REF_NAME: $GITHUB_REF_NAME"
          echo "Tag name from github.ref_name: ${{  github.ref_name }}"
      - name: Build
        run : npm run build
