name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_call:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Debug github action ref
        run: |
          echo "Tag name from GITHUB_REF_NAME: $GITHUB_REF_NAME"
          echo "Tag name from github.ref_name: ${{  github.ref_name }}"
      - uses: ./.github/workflows/update_cache.yml
      - name: Build
        run : npm run build
