name: Node.js Package

on:
  release:
    types: [created]

jobs:
  build:
    uses: ./.github/workflows/ci.yml

#  publish-npm:
#    needs: build
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#      - uses: ./.github/actions/update-cache
#
#      - run: npm publish
#        env:
#          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
