.map-visibility-button {
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  padding: 16px;
  background-color: var(--fab-background-color);
  color: var(--fab-color);
  box-shadow: var(--elevation-1);
  border-radius: var(--border-radius, 12px);
  height: 56px;
  font-family: var(--font-family);
  font-size: 16px;
  width: unset;
  pointer-events: all;
  &:hover {
    box-shadow: var(--elevation-4);
  }
  .icon {
    display: flex;
    margin-right: 8px;
    color: var(--fab-color);
  }
}
